
*.png
__pycache__/*
.vscode/*
upload_data.sh
up.sh
DataFromCluster/*
download.sh
.DS_Store

xray_raw_data/*
*.pkl
*.zip
*.mat

test_*
*.bin

pg/*

*.so

*.txt
scripting_download_dismech.py
adjij
scripting_download_dismech.py
imgui.ini
.polyscope.ini

runs/*

perform-segmentation/*